* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.header-top {
  width: 100%;
  background-color: #145c2a;
}

.header-top .menu {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-top .menu a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
}

.header-top .menu a:hover {
  background-color: #129238;
}

.header-top .menu img {
  width: 2rem;
  height: 2rem;
  color: #fff;
}

.header-top .menu .nav-menu {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .menu .nav-menu a {
  margin-right: 1.5rem;
}

.header-top .menu .social-menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .menu .social-menu a {
  margin-right: 1.5rem;
}

.header-top .menu .social-menu a:hover {
  background-color: #145c2a;
}

.header-top .menu .social-menu a:last-child {
  border-inline: 1px solid black;
  padding-inline: 10px;
}

.header-top .menu .social-menu a:last-child img {
  margin-right: .5rem;
}

.header-top .header-sub-top {
  width: 100%;
  height: 27rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f7f7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-top .header-sub-top .header-container-logo-and-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.header-top .header-sub-top .header-container-logo-and-button img {
  width: 55rem;
}

.header-top .header-sub-top .header-container-logo-and-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #129238;
  padding: 2rem;
  border-radius: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #129238;
}

.header-top .header-sub-top .header-container-logo-and-button a img {
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  margin-right: 1rem;
}

.destasquesEbeneficios {
  width: 80%;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.destasquesEbeneficios aside {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.destasquesEbeneficios img {
  border-radius: .5rem;
}

.destasquesEbeneficios h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: #129238;
}

.destasquesEbeneficios h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #145c2a;
  font-weight: bold;
  margin-top: 1rem;
}

.destasquesEbeneficios p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 3rem;
}

.destasquesEbeneficios .left-side-content {
  width: 100%;
  display: table;
  margin-right: 1.5rem;
}

.destasquesEbeneficios .left-side-content #slider {
  position: relative;
  height: 59rem;
}

.destasquesEbeneficios .left-side-content #slider .selected {
  opacity: 1;
}

.destasquesEbeneficios .left-side-content #slider img {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 59rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.destasquesEbeneficios .left-side-content .container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;
}

.destasquesEbeneficios .left-side-content .container-title a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: #129238;
}

.destasquesEbeneficios .right-side-content {
  width: auto;
}

.destasquesEbeneficios .container-beneficios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.destasquesEbeneficios .container-beneficios h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: #129238;
  margin: 0;
}

.destasquesEbeneficios .container-beneficios a {
  display: table;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #129238;
  padding: .5rem .8rem;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
}

.destasquesEbeneficios .container-beneficios .card-beneficios :last-child {
  margin-top: 30px;
}

.noticias .top-noticias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 2rem;
}

.noticias .top-noticias h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: #129238;
}

.noticias .top-noticias a {
  display: table;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #129238;
  padding: .5rem .8rem;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
}

.noticias .container-noticias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.noticias .single-noticia {
  width: 35rem;
  height: 35rem;
}

.noticias .single-noticia img {
  width: 100%;
  height: 25rem;
  border-radius: .5rem;
}

.noticias .single-noticia p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #000;
  margin-top: 1rem;
}

.noticias .single-noticia h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #145c2a;
  font-weight: bold;
  margin-top: 1rem;
}

.secondary-menu {
  width: 100%;
  height: auto;
  background-color: #f6fbf7;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secondary-menu nav {
  padding: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 7rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondary-menu nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  height: 20rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secondary-menu nav a img {
  width: 10rem;
  height: 10rem;
}

.secondary-menu nav a h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #145c2a;
  font-weight: bold;
  margin-top: 1rem;
}

.secondary-menu nav a p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #000;
  margin-top: 1rem;
}

.banners-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 3rem;
  margin-bottom: 5rem;
  z-index: 25;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banners-container .aside-left h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: #129238;
  margin-bottom: 3rem;
}

.banners-container .aside-left div {
  border-radius: .8rem;
  width: 70rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.banners-container .aside-left .container-tittle {
  background-color: #145c2a;
  width: 50%;
  height: 7rem;
  position: relative;
  z-index: 2;
  margin-left: 2rem;
  opacity: 0.85;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banners-container .aside-left .container-tittle h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #fff;
  font-weight: bold;
  margin-left: 1rem;
}

.banners-container .aside-left .container-text {
  width: 50%;
  height: 7rem;
  position: relative;
  z-index: 2;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banners-container .aside-left .container-text h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #145c2a;
  font-weight: bold;
  margin-left: 1rem;
}

.banners-container .aside-left .container-text h3 span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #fff;
  font-weight: bold;
}

.banners-container .aside-left .container-logo {
  width: 50%;
  height: 7rem;
  position: relative;
  z-index: 3;
  margin-left: -3rem;
}

.banners-container .aside-left .container-logo img {
  width: 9rem;
  height: 7rem;
  top: 0rem;
  width: 100%;
  z-index: 1;
}

.banners-container .aside-left img {
  position: absolute;
  top: -5rem;
  width: 100%;
  z-index: 1;
}

.banners-container .aside-rigth h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: #129238;
  margin-bottom: 3rem;
}

.banners-container .aside-rigth div {
  border-radius: .8rem;
  width: 70rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banners-container .aside-rigth div h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #fff;
  font-weight: bold;
  margin-left: 1rem;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banners-container .aside-rigth .container {
  background-color: #fff;
  width: 45%;
  height: 8rem;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banners-container .aside-rigth .container h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #fff;
  font-weight: bold;
  margin-left: 1rem;
}

.banners-container .aside-rigth .container img {
  width: 20rem;
  height: 10rem;
  top: -1rem;
  z-index: 1;
}

.banners-container .aside-rigth img {
  position: absolute;
  top: -15rem;
  width: 100%;
  z-index: 1;
}

.footer {
  width: 100%;
  background-color: #145c2a;
}

.footer .footer-top {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-top .logoAndContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-top .logoAndContact img {
  width: 30rem;
  height: 20rem;
}

.footer .footer-top .logoAndContact .contacts {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
  margin-left: 2rem;
}

.footer .dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .dates .singledata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}

.footer .dates .singledata .dayAndmonth {
  background-color: #fff;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
}

.footer .dates .singledata .dayAndmonth h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: #145c2a;
  font-weight: bold;
}

.footer .dates .singledata .dayAndmonth p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: #145c2a;
}

.footer .dates .singledata .text {
  width: 25rem;
  margin-left: 1rem;
}

.footer .dates .singledata .text p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #fff;
}

.footer .footer-bot {
  width: 100%;
  background-color: #129238;
}

.footer .footer-bot .footer-bot-container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-bot .footer-bot-container .mapAndaddress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 2rem;
}

.footer .footer-bot .footer-bot-container .mapAndaddress .map iframe {
  border-radius: .8rem;
}

.footer .footer-bot .footer-bot-container .mapAndaddress .address {
  margin-left: 1rem;
}

.footer .footer-bot .footer-bot-container .mapAndaddress .address p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 1rem;
}

.footer .footer-bot .footer-bot-container .mapAndaddress .address h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #fff;
  font-weight: bold;
}

.footer .footer-bot .footer-bot-container .sociallinks nav a img {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.footer .end {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
}

.footer .end .end-container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .end .end-container p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #129238;
}

.footer .end .end-container img {
  width: 10rem;
  height: 2rem;
}
/*# sourceMappingURL=main.css.map */