$base-color : #145c2a;
$base-hover-button: #129238;
$base-ligth-green: #129238;
$text-color-green: #145c2a;
$text-color-white: #fff;
$text-color-paragraph : #000;
$background-color-sub-header: #f7f7f7;
$background-color-secondary-menu: #f6fbf7;
$border-color-secondary-menu: #e5e5e5;
$text-small: 1.2rem;
$text-normal: 1.6rem;
$text-medium: 1.8rem;
$text-title: 2.2rem;
$breakpoint-cell: 370px;
$breakpoint-tablet: 768px;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

@mixin viewAll{
    display: table;
    align-items: center;
    background-color: $base-ligth-green;
    padding: .5rem .8rem ;
    border-radius: 30px;
    @include text($text-color-white, $text-small);
}

@mixin centerContent{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


@mixin text($color, $size) {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: $size;
    color: $color;
}

@mixin socialMedia {
    width: 2rem;
    height: 2rem;
}

@media (min-width: $breakpoint-cell) {
  
}


@media (min-width: $breakpoint-tablet) {
  
}

.header-top {
    width: 100%;
    background-color: $base-color;
    
    .menu{
        width: 100%;
        height: 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        @include centerContent();
        
        a {
            @include text($text-color-white, $text-normal);
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: .5rem;
            &:hover{
                background-color: $base-hover-button;
            }
        }
        img {
            @include socialMedia();
            color: $text-color-white;
        }

        .nav-menu{
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
            
            a{
                margin-right: 1.5rem;
            }
        }

        .social-menu{
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            a{
                margin-right: 1.5rem;
                &:hover{
                    background-color: $base-color;
                }
            }
            a:last-child{
                border-inline: 1px solid black;
                padding-inline: 10px;
                img{
                    margin-right: .5rem;
                }
            }
        }
    }

    .header-sub-top{
        width: 100%;
        height: 27rem;
        display: flex;
        background-color: $background-color-sub-header;
        align-items: center;
        @include centerContent();
        

        .header-container-logo-and-button{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            

            img  {
                width: 55rem;
            }
        
            a{
                display: flex;
                flex-direction: row;
                align-items: center;
                border: 1px solid $base-ligth-green;
                padding: 2rem;
                border-radius: 3rem;
                @include text($base-ligth-green, $text-normal);
                img{
                    @include socialMedia();
                    margin-left: auto;
                    margin-right: 1rem;
                }
            }
        }
    }
}

.destasquesEbeneficios{
    width: 80%;
    margin-top: 5rem;
    @include centerContent();
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;

    aside{
        @include centerContent();
    }

    img{
        border-radius: .5rem;
    }

    h3{
        @include text($base-ligth-green, $text-title);
    }

    h4{
        @include text($text-color-green, $text-medium);
        font-weight: bold;
        margin-top: 1rem
    }

    p{
        @include text($text-color-paragraph, $text-small);
        margin-bottom: 3rem;
    }

    

    .left-side-content{
        width: 100%;
        display: table;
        margin-right: 1.5rem;

        #slider{
            position: relative;
            height: 59rem;

            .selected{
                opacity: 1;
            }
            
            img{
                opacity: 0;
                position: absolute;
                width: 100%;
                height: 59rem;
                object-fit: cover;
                transition: opacity 1s;
            }
        }
        
        .container-title{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 3rem;
            
            
            a{
                @include text($base-ligth-green, $text-title);
                
            }
        }
    

    }

    .right-side-content{
        width: auto;
    }

    .container-beneficios{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-bottom: 3rem;
        
        h3{
            @include text($base-ligth-green, $text-title);
            margin: 0;
        }

        a{
            @include viewAll();
        }

        .card-beneficios{
            :last-child{
                margin-top: 30px;
            }
        }
        
    }

}

.noticias {

    .top-noticias{
        display: flex;
        width: 80%;
        justify-content: space-between;
        @include centerContent();
        margin-bottom: 2rem;

        h3{
            @include text($base-ligth-green, $text-title);
        }

        a{
            @include viewAll();
        }
    }

    .container-noticias{
        display: flex;
        flex-direction: row;
        width: 80%;
        @include centerContent();
        justify-content: space-between;
    }

    .single-noticia{
        width: 35rem;
        height: 35rem;

        img{
            width: 100%;
            height: 25rem;
            border-radius: .5rem
        }

        p{
            @include text($text-color-paragraph, $text-small);
            margin-top: 1rem;
        }

        h4{
            @include text($text-color-green, $text-small);
            font-weight: bold;
            margin-top: 1rem
        }

    }
    
}

.secondary-menu{
    width: 100%;
    height: auto;
    background-color: $background-color-secondary-menu;
    border-top: 1px solid $border-color-secondary-menu;
    border-bottom: 1px solid $border-color-secondary-menu;
    display: flex;

    nav {
        padding: 5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 7rem;
        flex-direction: row;
        width: 80%;
        @include centerContent();
        align-items: center;
        a {
            display: flex;
            width: 20rem;
            height: 20rem;
            align-items: center;
            flex-direction: column;
            
            img{
                width: 10rem;
                height: 10rem
            }
            h4{
                @include text($text-color-green, $text-medium);
                font-weight: bold;
                margin-top: 1rem
            }

            p{
                @include text($text-color-paragraph, $text-small);
                margin-top: 1rem;
            }
        }
    }
}

.banners-container {
    width: 80%;
    display: flex;
    position: relative;
    @include centerContent();
    margin-top: 3rem;
    margin-bottom: 5rem;
    z-index: 25;
    justify-content: space-between;

    @mixin aside-text {
        h3{
            @include text($base-ligth-green, $text-title);
            margin-bottom: 3rem;
        }
    }

    @mixin div-proprietes{
        width: 70rem;
        height: 25rem;
        overflow: hidden;
        position: relative;
    }

    .aside-left{

        @include aside-text();


        div{
            border-radius: .8rem;
            @include div-proprietes();
        }

        .container-tittle{
            background-color: $base-color;
            width: 50%;
            height: 7rem;
            position: relative;
            z-index: 2;
            margin-left: 2rem;
            opacity: 0.85;
            display: flex;
            align-items: center;            

            
            h4{
                @include text($text-color-white, $text-medium);
                font-weight: bold;
                margin-left: 1rem;
            }
        }

        .container-text{
            width: 50%;
            height: 7rem;
            position: relative;
            z-index: 2;
            margin-left: 2rem;
            display: flex;
            align-items: center;
            
            h3{
                @include text($text-color-green, $text-medium);
                font-weight: bold;
                margin-left: 1rem;
                
                span{
                    @include text($text-color-white, $text-medium);
                    font-weight: bold;
                }
            }
        }

        .container-logo{
            width: 50%;
            height: 7rem;
            position: relative;
            z-index: 3;
            margin-left: -3rem;

            
            img{
                width: 9rem;
                height: 7rem;
                top: 0rem;
                width: 100%;
                z-index: 1;
            }
        }


        img{
            position: absolute;
            top: -5rem;
            width: 100%;
            z-index: 1;
        }
    }

    .aside-rigth{
        
        @include aside-text();


        div{
            border-radius: .8rem;
            @include div-proprietes();
            display: flex;
            align-items: center;
            justify-content: space-between;
            h4{
                @include text($text-color-white, $text-medium);
                font-weight: bold;
                margin-left: 1rem;
                position: relative;
                z-index: 2;
                display: flex;
            }
            
        }

        .container{
            background-color: $text-color-white;
            width: 45%;
            height: 8rem;
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;  
            justify-content: center;          

            
            h4{
                @include text($text-color-white, $text-medium);
                font-weight: bold;
                margin-left: 1rem;
            }

            img{
                width: 20rem;
                height: 10rem;
                top: -1rem;
                z-index: 1;
            }
        }


        img{
            position: absolute;
            top: -15rem;
            width: 100%;
            z-index: 1;
            
        }
    }
}

.footer{
    width: 100%;
    background-color: $text-color-green;
    
    .footer-top{
        @include centerContent();
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logoAndContact{
            display: flex;
            flex-direction: row;
            align-items: center;
            img{
                width: 30rem;
                height: 20rem;
            }
            .contacts{
                @include text($text-color-white, $text-normal);
                margin-left: 2rem;
            }
        }
    }
    .dates{
        display: flex;
        flex-direction: row;
        
        .singledata{
            display: flex;
            flex-direction: row;   
            align-items: center;
            margin-right: 2rem;
            .dayAndmonth{
                background-color: $text-color-white;
                text-align: center;
                padding: 1rem;
                border-radius: 1rem;
                h3{
                    @include text($text-color-green, $text-title);
                    font-weight: bold;
                }
                p{
                    @include text($text-color-green, $text-title);
                }
            }
            .text{
                width: 25rem;
                margin-left: 1rem;

                p{
                    @include text($text-color-white, $text-medium);
                }
            }
        }
    }
    .footer-bot{
        width: 100%;
        background-color: $base-ligth-green;
        
        .footer-bot-container{
            width: 80%;
            @include centerContent();
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;


            .mapAndaddress{
                display: flex;
                flex-direction: row;
                display: flex;
                align-items: center;
                width: 50%;
                padding: 2rem;
                
                .map{
                    iframe{
                        border-radius: .8rem;
                    }
                }
                .address{
                    margin-left: 1rem;
                    p {
                        @include text($text-color-white, $text-medium);
                        margin-bottom: 1rem;
                    }

                    h4{
                        @include text($text-color-white, $text-medium);
                        font-weight: bold;
                    }
                }
            }
            .sociallinks{
                nav{
                    a{
                        img{
                            @include socialMedia();
                            margin-right: 2rem;
                        }
                    }
                }
            }
        }
    }
    .end{
        width: 100%;
        background-color: $text-color-white;
        display: flex;
        align-items: center;
        height: 5rem;
        .end-container{
            width: 80%;
            @include centerContent();
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                @include text($base-ligth-green, $text-medium);
            }

            img{
                width: 10rem;
                height: 2rem;
            }
        }
    }

}